* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login-div {
  display: flex;
  width: 100;
  height: 100vh;
  background-color: #24242c;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #24242c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pic {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://4kwallpapers.com/images/wallpapers/dark-blue-pink-2560x2560-12661.jpg");
  background-size: cover;
  background-position: center;
}

/* .pic2 {
  width: 100%;
  height: 15px;
  position: absolute;
  display: none;
  top: 0;
  background-image: url("https://4kwallpapers.com/images/wallpapers/dark-blue-pink-2560x2560-12661.jpg");
  background-size: cover;
  background-position: center;
} */

.inp {
  width: 350px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

label {
  position: absolute;
  left: 20px;
  color: #777780;
  height: 20px;
  transform: translateY(2.5px);
  padding-left: 5px;
  cursor: text;
  padding-right: 5px;
  transition: .2s;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #494954;
  border-radius: 10px;
  outline: none;
  transition: .4s;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

input:focus {
  border: 2px solid #1f1fff;
  box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label {
  left: 20px;
  transform: translateY(-22px);
  font-size: 12px;
  background-color: #24242c;
}

.up {
  left: 20px;
  transform: translateY(-22px);
  font-size: 12px;
  background-color: #24242c;
}

.login-btn {
  width: 350px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #2020db;
  border: 2px solid #1f1fff;
  border-radius: 50px;
  outline: none;
  transition: .4s;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Figtree', sans-serif;
}

.login-btn button:hover {
  background-color: #1717c2;
  border: 2px solid #1717c2;
}

h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Figtree', sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

a {
  color: #bbbbbb;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Figtree', sans-serif;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 70px;
  border-radius: 10px;
  border: 1px solid #494954;
}

@media only screen and (max-width: 750px) {
  .pic {
    display: none;
  }

  /* .pic2 {
      display: block;
  } */

  .container {
      width: 100%;
  }
}

@media only screen and (max-height: 450px) {
  .pic {
    display: none;
  }

  .container {
      width: 100%;
  }

  body {
      padding-bottom: 10px;
      overflow: scroll;
      height: 100%;
  }
}

/*--navbar--*/

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container-nav{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    font-size: 1.5em;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 2.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}